profiles/*.RPT
profiles/*.log
profiles/CommunityOnlineTools/Logs/*.log
profiles/DataCache/cache_lock
profiles/*.mdmp
profiles/EventManagerLog/*.log
profiles/ExpansionMod/Logs/*.log
profiles/WebApiLog/*.log
bin
mods
storage
mpmissions/dayzOffline.chernarusplus/storage_1/
*.log
*.txt
/profiles/BattlEye
/profiles/BattlEye
profiles/BattlEye/BEServer_x64.cfg
