bin
mods
storage
storage_*
mpmissions/*/storage_*/
*.log
*.txt
*.RPT
*.mdmp
profiles/BattlEye
profiles/DataCache/*
# Per-instance config, created by copying the checked-in *.example templates.
config/server.ini
config/*.conf
config/*.cfg
